---
extends: default

rules:
  line-length: disable
  trailing-spaces: disable
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  indentation:
    spaces: consistent
    indent-sequences: whatever
  comments:
    min-spaces-from-content: 1

ignore: |
  gitops/bootstrap/*
  gitops/charts/*
